<div class="report well">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<span class="label label-info">
		<%= time_tag report.created_at %>
	</span>
    <% if report.user %>
    	<span class="label label-default">
			<%= link_to "From: #{report.user.name}", user_path(report.user) %>
		</span>
    <% end %>
	<p><%= report.report %></p>
</div>