<h3><%= @user.name %></h3>
<% if @user.reports %>
  <h3>Level Update History</h3>
  <% @user.reports.each do |report| %>
    <%= render :partial => "reports/shared/report", :locals => { :report => report } %>
  <% end %>
<% end %>