<h3>How It Works</h3>

<p>NECreeking is a website designed to make real-time water level visuals available to everyone. Of course, it only works if people send in visuals. So, if you're driving around to go kayaking (or for any other reason) and catch a look at a river that you think anyone might be interested in level information for, go ahead and report it. Below are detailed instructions on how to use the system.</p>

<div class="well hero-unit">
  <div class="well">
    <h4>Reporting Levels</h4>
	  <ol>
  		<li>Look at river.</li>
  		<li>Send text to <strong>(802) 746-4779</strong> containing your visual beta.</li>
  		<li>Wait for someone to come meet you at the river, having seen your report in real time on NECreeking.com.</li>
  	</ol>
  </div>
  <div class="well">
    <h4><span class="label label-info">New!</span> Retrieving Levels</h4>
    <ol>
      <li>Send the message "levels" (case insensitive) to <strong>(802) 746-4779</strong> as a text.</li>
      <li>Within seconds, receive the last three level reports on the site (timed and dated) in response.</li>
      <li>If you forget the message to send, you can send "info" and NECreeking will reply with a list of available commands (right now, just "levels").</li>
    </ol>
  </div>
</div>

<p>It's as simple as that. No smartphone needed, just send a plain old text to <strong>(802) 746-4779</strong> and your update will appear on the website in real time. By default, updates are anonymous, but if you want your name to appear next to updates you send in, just <%= link_to 'register an account', new_user_registration_path %> on the website and input your phone number. We won't show it to anyone, we'll just use it to map your texts to your username.</p>

<p>Thanks,<br/>
	Nick Gottlieb<br/>
	<%= link_to "http://www.nicholasgottlieb.com", "http://www.nicholasgottlieb.com" %></p>