<h3>How It Works</h3>

<div class="well">
  <h4>Reporting Levels</h4>
  <ol>
		<li>Look at river.</li>
		<li>Send text to your regional phone number containing visual beta.</li>
		<li>Wait for someone to come meet you at the river, having seen your report in real time on Streamflows.info.</li>
	</ol>
</div>
<div class="well">
  <h4><span class="label label-info">New!</span> Retrieving Levels</h4>
  <ol>
    <li>Send the message "levels" (case insensitive) to your regional phone number as a text.</li>
    <li>Within seconds, receive the last three level reports on the site (timed and dated) in response.</li>
    <li>If you forget the message to send, you can send "info" and Streamflows.info will reply with a list of available commands (right now, just "levels").</li>
  </ol>
</div>
<%= render 'regions/shared/sidebar_phones' %>
