<h3>River Reports</h3>
<% @reports.each do |report| %>
  <p>Time: <%= time_tag report.created_at %></p>
  <p>Report: <%= report.report %></p>
  <% if report.user %>
  	<p>From: <%= report.user %></p>
  <% end %>
<% end %>
