<h3>Live River Updates</h3>
<%= paginate @reports, :params => {:controller => 'reports', :action => 'index'} %>
<% @reports.each do |report| %>
  <%= render :partial => "reports/shared/report", :locals => { :report => report } %>
<% end %>
